<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.ovgu.featureide.core.roslaunch.editors.LaunchEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="launch"
            icon="icons/sample.gif"
            id="de.ovgu.featureide.core.roslaunch.editors.LaunchEditor"
            name="Launch Editor">
      </editor>
      <editor
            default="false"
            id="de.ovgu.featureide.core.roslaunch.editor1"
            name="name">
         <contentTypeBinding
               contentTypeId="de.ovgu.featureide.core.roslaunch.contentTypeBinding1">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="de.ovgu.featureide.core.roslaunch.contentTypeBinding2">
         </contentTypeBinding>
      </editor>
      <editor
            class="de.ovgu.featureide.core.roslaunch.graphconf.ui.GraphConfEditor"
            contributorClass="de.ovgu.featureide.core.roslaunch.graphconf.actions.FlowActionBarContributor"
            default="true"
            extensions="grapconf"
            icon="icons/view.gif"
            id="GraphConEditor"
            name="Graph Config Editor">
      </editor>
   </extension>
   <extension
         point="de.ovgu.featureide.core.wizard">
      <newProjectWizard
            class="de.ovgu.featureide.core.wizardextension.DefaultNewFeatureProjectWizardExtension"
            composerid="de.ovgu.featureide.roslaunch"
            id="de.ovgu.featureide.core.roslaunch.newProjectWizard"
            name="de.ovgu.featureide.roslaunch">
      </newProjectWizard>
   </extension>
   <extension
         point="de.ovgu.featureide.core.composers">
      <composer
            class="de.ovgu.featureide.core.roslaunch.RosComposer"
            description="de.ovgu.featureide.core.roslaunch.composer1"
            id="de.ovgu.featureide.roslaunch.composer"
            name="RosLaunchComposer"
            nature="de.ovgu.featureide.core.roslaunch.composer1">
      </composer>
   </extension>
    <!--
   <extension
         point="de.ovgu.featureide.fm.ui.ConfigurationEditor">
      <configurationPageExtension
            class="de.ovgu.featureide.core.roslaunch.ConfigurationEditorPage">
      </configurationPageExtension>
   </extension>
-->
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="de.ovgu.featureide.core.roslaunch.launch.RosLaunchConfigDelegator"
            delegateName="de.ovgu.featureide.core.roslaunch.RosLaunchConfigDelegator"
            id="de.ovgu.featureide.core.roslaunch.launchConfigurationType"
            modes="run,debug"
            name="RosLaunch"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="de.ovgu.featureide.core.roslaunch.launch.LaunchTabGroug"
            id="de.ovgu.featureide.core.roslaunch.launchConfigurationTabGroup"
            type="de.ovgu.featureide.core.roslaunch.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <!--
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="de.ovgu.featureide.core.roslaunch.launch.LaunchShortcut"
            id="de.ovgu.featureide.core.roslaunch.shortcut"
            label="RosLaunch"
            modes="run">
         <contextualLaunch>
            <contextLabel
                  label="RosLaunch"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
   </extension>
   -->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="de.ovgu.featureide.core.roslaunch.launchConfigurationType"
            icon="icons/sample.gif"
            id="de.ovgu.featureide.core.roslaunch.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
<!--
   <extension
         point="de.ovgu.featureide.fm.core.FMComposer">
      <fmComposer
            class="de.ovgu.featureide.core.roslaunch.RosFMComposer"
            composer="de.ovgu.featureide.roslaunch.composer"
            id="de.ovgu.featureide.core.roslaunch.fmComposer"
            name="RosLaunchFMComposer">
      </fmComposer>
   </extension>
-->
</plugin>
