<launch>
  <node pkg="laser_filters" type="scan_to_scan_filter_chain"
      name="laser_filter">
    <rosparam command="load" file="$(find FeatureIDE)/launch/laser_filter_config.yaml" />
    <remap from="scan" to="$(arg scanner_out)" />
    <remap from="scan_filtered" to="$(arg filter_out)" />
  </node>
</launch>