<launch>   
	<!-- only for test if it is will be ignored -> because it is double here and in camera_args -->
	<arg name="camera" default="camera" />
	
	<!-- start sensor-->
	<include file="$(find freenect_launch)/launch/freenet.launch">
	   <arg name="camera" default="$(arg camera)"/>
	</include>
</launch>